body {
	width: 90%;
	margin: 0 auto;
	  background-color: #f5ffd9;
}
/*Align titles */ 
h1 { 
   text-align: center;
   width: 400px;
}

/* Letter and Word space*/
p { 
   line-height: 2em;
   width: 600px;
   
}
/*Font colors */
h1, h2, p { 

   color: #261e1d;
}



/*Container for navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #57b4c6;
    position: fixed; 
    top: 0; 
    width: 90%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


li a:hover {
    background-color: #5f5f5f;
}

.active {
    background-color: #4CAF50;
}

/* News Html styling */ 
/* Article Title Styling */
.news-title { 
   padding-top: 40px;
   text-align: center;
}

/*Centering images */
img.walk { 
	display: block; 
	margin: 0px auto;

}

img.welcome { 
	display: block; 
	margin: 40px 0px 5px 440px;
}
